body{
    background-color: 	#F0FFF0;
  

}

.tabla_a{
    width: 50%;

    margin-top: 5px; 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color:rgb(250, 251, 252);
 
}

.tabla_b{
    width: 50%;
    border-collapse: collapse;  
    background-color: #ffffff;  
}

.tabla_b thead tr td{
    background-color: #000000;
    color: #ffffff;
}

.h2, .h3 {
    width: 100%;
    background-color: #D3D3D3;
    color: #ffffff;
    font-family: Courier;
    font-size: 40px;
    margin: 0px;
    padding: 3px;
    text-align: center;

}

.h2 textarea {
    width: 50%;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
}

.h3 input {
    border: 1px solid black;
}

.h3 textarea {
    border: 1px solid black;
    font-size: 20px;
}

.c_post{
    width: 40%;
    height: 70px;
    text-align: center;
}
.t_post {
    width: 30%;
    height: 20px;
    text-align: center;

}

/*Boton 'Cerrar Seccion' del Post_index*/
#cs button{
    float: right;
    width: 10%;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

/*Boton 'Enviar' del Post_index*/
#cs2 button{
    float: ;
    width: 10%;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

.Title{
    cursor: pointer  !important;
    text-align: left;
    color: blue;
    font-size: 20px;
    margin-left: 5px;
}
.User{
    font-size: 12px;
    margin-left: 5px;
}

.Body{
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.User2{
    font-size: 12px;
    margin-left: 5px;
    text-align: right;
}

.Body2{
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size: 20px;
}