body{
    margin: 0px;
    padding: 0px;
    background-color:#dcdcdc;
    text-align: center;
    font-family: sans-serif;
}

#agruparr{
    width: 320px;
    height: 500px;
    background: #000000;
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 10px;

}

#cabeceraa h1{
    margin: 0px;
    padding: 0 0 20%;
    text-align: center;
    font-size: 50px;
}

 
#agruparr form label{
    margin: 1px;
    padding: 0px;
    /*Para que las letras del label sean negrita*/
    font-weight: bold;
    /*Para que los label se organicen en bloquen en ves de lineas*/
    display: block;
}

#agruparr form input{
    width: 100%;
    /*Para el margen de separacion de cada Input*/
    margin-bottom: 10px;

    border: none;
    border-bottom: 1px solid #ffff;
    /*Para que el Input tenga un fondo transparente*/
    background: transparent;
    outline: none;
    color: #ffff;
    height: 40px;
    font-size: 20px;
}

.agruparr form button{
    float: right;
    width: 60%;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}
.agruparr form button:hover{
    cursor: pointer;
    color:rgb(0, 41, 128);
    background: rgb(104, 211, 253);
    border: 1px solid rgb(0, 41, 128);
}
